In [1]:
import requests
response = requests.get("https://gorest.co.in/public/v2/users")
response

In [2]:
 data = response.json()
data

[{'id': 4552558,
  'name': 'Buddhana Adiga Jr.',
  'email': 'jr_buddhana_adiga@dach-crooks.example',
  'gender': 'female',
  'status': 'active'},
 {'id': 4552553,
  'name': 'Gajaadhar Kaur',
  'email': 'kaur_gajaadhar@ritchie.test',
  'gender': 'female',
  'status': 'active'},
 {'id': 4552551,
  'name': 'Sitara Namboothiri',
  'email': 'sitara_namboothiri@thiel-emard.example',
  'gender': 'male',
  'status': 'active'},
 {'id': 4552549,
  'name': 'Daksha Namboothiri',
  'email': 'namboothiri_daksha@bosco.example',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 4552548,
  'name': 'Ajeet Bandopadhyay',
  'email': 'ajeet_bandopadhyay@dickinson.example',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 4552547,
  'name': 'Anil Panicker PhD',
  'email': 'panicker_phd_anil@hahn-koch.test',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 4552546,
  'name': 'Dhanapati Talwar',
  'email': 'talwar_dhanapati@mante.example',
  'gender': 'male',
  'status': 'active'},
 {'id': 4552544,
  'name': 'Gov. Tushar Talwar',
  'email': 'talwar_tushar_gov@ortiz.example',
  'gender': 'male',
  'status': 'active'},
 {'id': 4552543,
  'name': 'Ganaka Tandon',
  'email': 'tandon_ganaka@casper.test',
  'gender': 'male',
  'status': 'active'},
 {'id': 4552542,
  'name': 'Rajinder Banerjee',
  'email': 'rajinder_banerjee@nolan-bernhard.example',
  'gender': 'female',
  'status': 'inactive'}]

In [3]:
data_rows = []
map_status_to_value = {"active":True,"inactive":False } #is_active

map_gender = {"male":1 ,"female": 0} #is_male
for single_dictionary in data:
    user_id = single_dictionary["id"]
    user_name = single_dictionary["name"]    
    user_email = single_dictionary["email"]    
    gender = map_gender[single_dictionary["gender"]]    
    status = map_status_to_value[single_dictionary["status"]]  
    data_rows.append([user_id, user_name,user_email,gender ,status])
data_rows[0]

[4552558,
 'Buddhana Adiga Jr.',
 'jr_buddhana_adiga@dach-crooks.example',
 0,
 True]

In [4]:
import csv
with open("shehab.csv", mode="w",encoding="utf-8",newline="") as f:
    writer = csv.writer(f)
    header = ["user_id", "user_name" , "user_email","is_male" ,"is_active" ]
    writer.writerow(header)
    writer.writerows(data_rows)
    
import pandas as pd

df = pd.read_csv("shehab.csv")
df

,user_id,user_name,user_email,is_male,is_active
0,4552558,Buddhana Adiga Jr.,jr_buddhana_adiga@dach-crooks.example,0,True
1,4552553,Gajaadhar Kaur,kaur_gajaadhar@ritchie.test,0,True
2,4552551,Sitara Namboothiri,sitara_namboothiri@thiel-emard.example,1,True
3,4552549,Daksha Namboothiri,namboothiri_daksha@bosco.example,1,False
4,4552548,Ajeet Bandopadhyay,ajeet_bandopadhyay@dickinson.example,0,False
5,4552547,Anil Panicker PhD,panicker_phd_anil@hahn-koch.test,1,False
6,4552546,Dhanapati Talwar,talwar_dhanapati@mante.example,1,True
7,4552544,Gov. Tushar Talwar,talwar_tushar_gov@ortiz.example,1,True
8,4552543,Ganaka Tandon,tandon_ganaka@casper.test,1,True
9,4552542,Rajinder Banerjee,rajinder_banerjee@nolan-bernhard.example,0,False

In [5]:
import requests
response = requests.get("https://gorest.co.in/public/v2/posts")
data = response.json()
data_rows = []
for signla_dictionary in data:
    my_id = signla_dictionary["id"]
    user_id = signla_dictionary["user_id"]
    title = signla_dictionary["title"]
    body = signla_dictionary["body"]
    data_rows.append([my_id,user_id ,title ,body])
data_rows    
    
import csv
with open("my_work.csv", mode="w" ,encoding="utf_8", newline="") as f:
    writer = csv.writer(f)
    header = ["my_id","user_id","title","body"]
    writer.writerow(header)
    writer.writerows(data_rows)
import pandas as pd
df = pd.read_csv("my_work.csv")
df

,my_id,user_id,title,body
0,62719,4552571,Annus dolorum attollo tepesco adversus teres t...,Vinco balbus voveo. Tergum defleo cauda. Sit b...
1,62718,4552571,Adsuesco neque theca deficio voluptate maiores...,Acsi copia amoveo. Deludo peccatus aqua. Cohib...
2,62717,4552570,Utilis creber armo thymum itaque calamitas sul...,Demitto tumultus versus. Turba sol careo. Veri...
3,62716,4552570,Thalassinus viriliter tabesco approbo viduata ...,Acies theologus asper. Angustus volo utique. Q...
4,62706,4552558,Avaritia vero et depopulo canonicus stillicidium.,Ratione terra nisi. Despirmatio tametsi arx. D...
5,62705,4552556,Tergeo caveo allatus thymbra tot iusto agnosco...,Cogito verus clibanus. Deleo adfectus teneo. C...
6,62704,4552556,Celer arx aggero cognomen et bonus bardus crin...,Conqueror adaugeo administratio. Tamisium subv...
7,62703,4552555,Omnis confero cruciamentum at cicuta vae campa...,Autem vero anser. Chirographum uredo acervus. ...
8,62702,4552555,Adsuesco iste sum solus vulticulus.,Absconditus valde cilicium. Aggero sit repelle...
9,62701,4552553,Ratione sodalitas voluptate cinis delibero addo.,Aetas aestivus aut. Convoco sortitus appositus...

In [12]:
import requests
from bs4 import BeautifulSoup
html = requests.get("https://wuzzuf.net/search/jobs/?a=navbl&q=data%20science%20jobs&start=0")
soup = BeautifulSoup(html.text, "html.parser")
type(soup)

bs4.BeautifulSoup

In [16]:
all_div = soup.find_all("div", {"class":"css-pkv5jc"})
len(all_div)

15

In [18]:
title = all_div[0].find("a", {"class":"css-o171kl"}).text.strip()
link = "https://wuzzuf.net" + all_div[0].find("a", {"class":"css-o171kl"}).attrs["href"].strip()
location = all_div[0].find("span", {"class":"css-5wys0k"}).text.strip()
skills  = all_div[0].find("div", {"class":"css-y4udm8"}).text.strip()
company  = all_div[0].find("a", {"class":"css-17s97q8"}).text[:-2].strip()
company

'Si-Ware System'

In [29]:
all_data =[]
for div in all_div:
    title = div.find("a", {"class":"css-o171kl"}).text.strip()
    link = "https://wuzzuf.net" + all_div[0].find("a", {"class":"css-o171kl"}).attrs["href"].strip()
    location = div.find("span", {"class":"css-5wys0k"}).text.strip()
    skills  = div.find("div", {"class":"css-y4udm8"}).text.strip()        
    company  = div.find("a", {"class":"css-17s97q8"}).text[:-2].strip()
    all_data.append([title ,link ,location, skills,company])
        
company

'Cognizant Technology Solutions Corporation'

In [34]:
all_data = []
page = 0

while True:
    html = requests.get(f"https://wuzzuf.net/search/jobs/?a=navbl&q=data%20science%20jobs&start={page}") 
    soup = BeautifulSoup(html.text, "html.parser")
        
    all_div = soup.find_all("div", {"class":"css-pkv5jc"})
    if len(all_div) == 0:
        print("finished")
        break
    for div in all_div:
        title = div.find("a", {"class":"css-o171kl"}).text.strip()
        link = "https://wuzzuf.net" + all_div[0].find("a", {"class":"css-o171kl"}).attrs["href"].strip()
        location = div.find("span", {"class":"css-5wys0k"}).text.strip()
        skills  = div.find("div", {"class":"css-y4udm8"}).text.strip()        
        company  = div.find("a", {"class":"css-17s97q8"}).text[:-2].strip()
        all_data.append([title ,link ,location, skills,company])
    print(f"scraping page {page}")
    page += 1

scraping page 0
scraping page 1
scraping page 2
scraping page 3
scraping page 4
scraping page 5
scraping page 6
scraping page 7
scraping page 8
scraping page 9
scraping page 10
scraping page 11
scraping page 12
scraping page 13
scraping page 14
scraping page 15
scraping page 16
scraping page 17
scraping page 18
scraping page 19
scraping page 20
scraping page 21
scraping page 22
scraping page 23
scraping page 24
scraping page 25
scraping page 26
scraping page 27
scraping page 28
scraping page 29
scraping page 30
scraping page 31
scraping page 32
scraping page 33
scraping page 34
scraping page 35
scraping page 36
scraping page 37
scraping page 38
scraping page 39
scraping page 40
scraping page 41
scraping page 42
scraping page 43
scraping page 44
scraping page 45
scraping page 46
scraping page 47
scraping page 48
scraping page 49
scraping page 50
scraping page 51
scraping page 52
scraping page 53
scraping page 54
scraping page 55
scraping page 56
scraping page 57
scraping page 58
scraping page 59
scraping page 60
scraping page 61
scraping page 62
scraping page 63
scraping page 64
finished

In [39]:
len(all_data)

971

In [42]:
import csv
with open("jopes.csv", mode='w', encoding='utf_8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['title','link','location' ,'skills' ,'company'])
    writer.writerows(all_data)
    
import pandas as pd
df = pd.read_csv("jopes.csv")
df

,title,link,location,skills,company
0,Senior/Staff/Senior Staff Data Science & Proce...,https://wuzzuf.net/jobs/p/M2lYGPeETme4-SeniorS...,"Cairo, Egypt",Full TimeNot specified · IT/Software Developme...,Si-Ware System
1,Manager Data Science,https://wuzzuf.net/jobs/p/M2lYGPeETme4-SeniorS...,"Doha, Qatar",Full TimeNot specified · IT/Software Developme...,Qatar Airways - Other locations
2,Senior Machine Learning/ Data Science Engineer,https://wuzzuf.net/jobs/p/M2lYGPeETme4-SeniorS...,"Cairo, Egypt",Full TimeNot specified · IT/Software Developme...,Si-Ware System
3,Senior Data Scientist,https://wuzzuf.net/jobs/p/M2lYGPeETme4-SeniorS...,"Nasr City, Cairo, Egypt",Full TimeExperienced · 4+ Yrs of Exp · IT/Soft...,BBI-Consultancy
4,Vertica Data Engineer,https://wuzzuf.net/jobs/p/M2lYGPeETme4-SeniorS...,"Dubai, United Arab Emirates",Full TimeNot specified · IT/Software Developme...,Dautom
...,...,...,...,...,...
966,Senior Faculty Development Trainer,https://wuzzuf.net/jobs/p/quLT98IyCvlA-Product...,"6th of October, Giza, Egypt",Full TimeExperienced · 5 - 7 Yrs of Exp · Educ...,Zewail City
967,web developer,https://wuzzuf.net/jobs/p/quLT98IyCvlA-Product...,"New Cairo, Cairo, Egypt",Full TimeFreelance / ProjectExperienced · 3 - ...,a2z
968,Mechanical Engineer,https://wuzzuf.net/jobs/p/quLT98IyCvlA-Product...,"Cairo, Egypt",Full TimeManager · 3 - 5 Yrs of Exp · Engineer...,Tamkco Kadous
969,QA Director,https://wuzzuf.net/jobs/p/quLT98IyCvlA-Product...,"Downtown, Cairo, Egypt",Full TimeSenior Management · 10 - 15 Yrs of Ex...,Holding For Pharmaceuticals
970,Business Support Specialist (Telesales),https://wuzzuf.net/jobs/p/quLT98IyCvlA-Product...,"New Cairo, Cairo, Egypt",Full TimeExperienced · 2 - 10 Yrs of Exp · IT/...,OdooTec